<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195616230432-0lm5tq3vr2igc5f15jtagf4o2tef25i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195616230432-0lm5tq3vr2igc5f15jtagf4o2tef25i7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195616230432-056mrmhrl6o5hnn85277qecqssio6g21.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEnLM6XmuKZZVZfT5Q8LafZ01U_cOpmXc</string>
	<key>GCM_SENDER_ID</key>
	<string>195616230432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engg3sw.daikhopk</string>
	<key>PROJECT_ID</key>
	<string>daikhopk-17b2f</string>
	<key>STORAGE_BUCKET</key>
	<string>daikhopk-17b2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195616230432:ios:3b876152d9e62c72f7c045</string>
	<key>DATABASE_URL</key>
	<string>https://daikhopk-17b2f-default-rtdb.firebaseio.com</string>
</dict>
</plist>